seletor:pseudo-classe {
    propriedade: valor;
}
/* 
p:first-child {
    color: aqua;
}

p:last-child {
    color: blue;
}

p:not(.padrao){
    color: coral;
} */

/* li:nth-child(n+2):nth-child(-n+5){
    color: red;
} */

li:nth-last-child(1){
    color: red;
}

p:only-child {
    color: red;
}